<h1>New booking</h1>

<%= form_with model: @booking do |f| %>
  <%= render @booking.flight, inside_form: true %>

  <fieldset
    data-controller="fieldset"
    data-fieldset-minimum-value="1"
    data-fieldset-maximum-value="4"
  >
    <legend>Passengers</legend>

    <ol data-fieldset-target="fields">
      <%= render "passengers/fields", form: f, passenger: nil, fields_options: nil %>
    </ol>

    <template data-fieldset-target="template">
      <%# 'child_index' is an odd option as it isn't documented on the API %>
      <%= render "passengers/fields", form: f, passenger: Passenger.new, fields_options: { child_index: ":index" } %>
    </template>

    <div>
      <button type="button" data-action="fieldset#add">Add passenger</button>
    </div>
  </fieldset>

  <%= f.hidden_field :flight_id %>

  <%= f.button "Make new booking" %>
<% end %>
